<section class="row p-5">
    <div class="col-3 border border-dark rounded text-center p-3">
        <h1>Jungle Jumble</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-7">
        <div class="row flex-column py-3 me-3">
            <div class="border border-dark rounded text-start p-5 my-5">
                <h3 class="d-inline">Easy Jumble</h3>
                <h3 class="d-inline float-end">Fastest Time</h3>
                <p>A bunch of words</p>
            </div>
            <div class="col border border-dark rounded p-5">
                <form>
                    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                    <button class="btn btn-primary text-center w-100 my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5 bg-black text-light">
        <h3 class="text-center">Jumbles!</h3>
        <div id="jumble-container">

        </div>
        <div class="text-center p-3">
            <form>
                <h4>Create Jumble</h4>
                <input class="form-control my-3" type="text" placeholder="Name">
                <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Jumble"></textarea>
                <button class="btn btn-warning my-3 w-100">Create +</button>
            </form>
        </div>
    </div>
</section>